.logo-spinner-frame {
  width: 100%;
  max-width: 1400px;
  height: 320px;
  margin: 0 auto;
  padding-top: 0rem;
  position: relative;
}

@media (max-width: 640px) {
  .logo-spinner-frame {
    height: 260px;
    padding-top: 0rem;
  }
}

.logo-spinner-canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
