.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(2.53rem, 12.65vw, 14.95rem);
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  white-space: pre-line;
}

.char {
  display: inline-block;
}
