button {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016dd9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  animation: shake3856 0.3s linear infinite both;
}

.shake {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
